<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BadgeGamification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB3608CF2003E5B700ED47A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3608E32003E5B700ED47A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB3608EE2003E5B700ED47A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB570DDD2051BC5800E55CF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
